* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}


html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 234 color orig */
:root {

  --hue: 234;
  --header-color: hsl(var(--hue), 43%, 45%);
  --orange-color: hsl(calc(var(--hue) + 17), 85%, 65%);
  --orange-second-color: hsl(calc(var(--hue) + 12), 60%, 50%);
  --grey-color: hsl(0, 0%, 51%);
  --box-color: hsl(195, 6%, 24%);
  --white-text-color: hsl(0, 0%, 100%);
  --border-image-color: hsl(0, 0%, 0%);
  --card-color: hsl(calc(var(--hue) - 37), 27%, 41%);
  --bg-contaots-color: hsl(calc(var(--hue) - 66), 6%, 24%);
  --title-carousel-color: hsl(calc(var(--hue) + 185), 98%, 51%);
}



.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  border-bottom: 1rem solid var(--border-image-color);
  padding: 1rem 2rem;

}



#logo {

  width: auto;
  height: 6rem;
  background-size: contain;
  background-color: var(--orange-color);

}

.section {
  background-color: var(--orange-color);
  padding-top: 5rem;
  padding-bottom: 10rem;
  border-bottom: 1rem solid var(--header-color);
}

.section.-bg {
  background-color: var(--border-image-color);
}

.section.-bgContaots {
  background-color: var(--bg-contaots-color);
}

.section.-bgSobre {
  background-color: var(--header-color);
}

.section.-bbFirst {
  border-color: var(--orange-color);
}

.section.-bbBlack {
  border-color: var(--border-image-color);
}






h1.header {
  font-size: 2rem;
  font-family: "Press Start 2P";
  color: var(--white-text-color);
  text-shadow: .5rem .5rem 0rem #000000;
  display: none;

}

nav {
  text-align: right;
}

a {
  display: inline-flex;
  align-items: center;
  color: var(--white-text-color);
  font-size: 2rem;
  font-family: "fira Code", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 3rem;

}

a:hover {
  filter: brightness(1.2);
  transform: scale(1.07);
  transition: .5s;
  color: var(--border-image-color);
}

.action::before {
  content: "";
  background-color: var(--orange-color);
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}


.button {
  display: inline-block;
  background-color: var(--orange-color);
  padding: 1.8rem 2rem;
  box-shadow: .5rem .5rem 0rem #000000;
  margin-right: 0;
}

.button:hover {
  background-color: var(--orange-second-color);
  filter: brightness(1.2);
  transform: scale(1.07);
  transition: .5s;
}

.main-title {
  font-size: 4rem;
  font-family: "Press Start 2P", sans-serif;
  color: var(--orange-color);
  text-shadow: .4rem .4rem 0rem #000000;
  text-align: center;
  margin-bottom: 2.8rem;

}

.subtitle {
  font-size: 3rem;
  font-family: "Press Start 2P", sans-serif;
  color: var(--white-text-color);
  text-shadow: .4rem .4rem 0rem #000000;
}

.box {
  display: inline-block;
  background-color: var(--box-color);

  box-shadow: 1rem 1rem 0rem #000000;
  text-align: center;
  padding: 4.2rem 4.4rem;

}

section.banner {
  box-sizing: border-box;
  background-image: url(../assets/imag/pixel-normal.png);
  background-repeat: no-repeat;
  background-size: 100%;

  height: 80rem;
  border-bottom: 1rem solid #000000;
  padding-top: 15rem;
  padding-left: 9rem;
}

.banner .wrapper {
  display: flex;
  flex-direction: column;
  width: 64rem;
}

.banner .box {
  margin-bottom: 4rem;
}

.banner .navigation {
  display: flex;
  justify-content: space-around;
}


section .main-title {
  margin-bottom: 6rem;

}

.main-title.-second {
  color: var(--white-text-color);
  text-shadow: none;
  text-align: center;

}

.skills {
  font-family: 'Press Start 2P';
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--white-text-color);
  display: flex;
  align-items: center;
}

.skills .icon {
  margin-right: 2.5rem;
  width: 8rem;
}

.skills .title {
  margin-bottom: 1rem;
}

.progress-bar {
  box-sizing: border-box;
  border: .5rem solid #000000;
  height: 4rem;
}

.progress-bar::-webkit-progress-bar {
  background-color: var(--white-text-color);
}

.progress-bar::-webkit-progress-value {
  background-color: var(--header-color);
}

.skills .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.wrapper-section {
  display: flex;
  flex-wrap: wrap;
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-section .skills {
  width: 43rem;
  margin-bottom: 4rem;


}

.wrapper-section .skills:nth-child(odd) {
  margin-right: 10rem;
}

.wrapper-section .progress-bar {
  width: 32rem;
}


.card-project {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-color);
  width: 28rem;
  height: 28rem;
  box-shadow: 1rem 1rem 0px #FFFFFF;
}

.card-project.-blue {
  background-color: var(--card-color);
}

.wrapper-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.description {
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.9;
  color: var(--white-text-color);

  text-align: left;
  margin-top: 5.5rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 5rem;
}

.btn-arrow {
  width: 5rem;
  height: 5rem;
  border: none;
  background-color: var(--orange-color);
  box-shadow: .5rem .5rem 0 #000000;

}

.btn-arrow:hover {
  filter: brightness(1.2);
  transform: scale(1.07);
  transition: .5s;
  color: var(--border-image-color);
}

.btn-arrow .content {
  display: none;
}

.btn-arrow::before {
  content: '';
  display: block;
  box-sizing: border-box;
  width: 1.8rem;
  height: 1.8rem;
  border: 2rem solid transparent;
  border-left: 2.8rem solid white;
  transform: translateX(1.3rem);
}

.btn-arrow.-left::before {
  transform: rotate(180deg) translateX(1.3rem);
}

.node-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}

.node-card::before {
  content: '';
  position: absolute;


  height: 0;
  width: 4rem;
  border-top: .3rem dashed #000000;
  transform: rotate(90deg) translateX(-62%);
  bottom: 14rem;


}

.node-card .title {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--title-carousel-color);
  font-family: "Press Start 2P", sans-serif;
  margin-bottom: 5rem;


}

.node-card .logo {
  display: flex;
  align-items: center;



  height: 14rem;
  border: .5rem solid #000000;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #fccf08;

}

.node-card.-clean .logo {
  padding: 0;
}

.node-card.-firt .logo {
  background-color: var(--orange-color);
}

.carousel {
  display: flex;
  justify-content: space-between;
  position: relative;

  padding-left: 8.5rem;
  padding-right: 8.5rem;
  overflow: hidden;

}

.carousel::after {
  content: '';
  position: absolute;
  left: 5rem;
  top: 3.8rem;
  display: block;
  height: .6rem;
  width: calc(100% - 10rem);
  background-color: #000000;


}

.carousel::before {
  content: '';
  position: absolute;
  left: 0;
  top: 3.9rem;
  display: block;
  border: .2rem dashed #000000;
  width: 100%;
}

.carousel .btn-arrow {
  position: absolute;
  bottom: 7rem;
  transform: translateY(50%);
}


.carousel .btn-arrow.-left {
  left: 1.5rem;
}

.carousel .btn-arrow.-right {
  right: 1.5rem;
}

.carousel .items {
  width: 100%;
  overflow: hidden;

}

.carousel .elements {
  display: flex;
  justify-content: space-between;
  transition: transform 150ms ease-in-out;
}

.main-footer {
  display: flex;
  justify-content: center;
  background-color: #000;
  padding-top: 2.8rem;
  padding-bottom: 2.8rem;

}

.main-footer .action {
  margin-right: 2rem;
  margin-left: 2rem;

}


.main-label {
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  line-height: 4rem;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
}

@media (max-width: 890px) {
  .main-header>.menu {
    display: none;
  }

  .main-header>.header {
    display: block;
  }

}