* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  font-size: 62.5%;
}

/* 261 color orig */
:root {

  --hue: 261;
  --header-color: hsl(var(--hue), 43%, 45%);
  --orange-color: hsl(calc(var(--hue) + 17), 85%, 65%);
  --orange-second-color: hsl(calc(var(--hue) + 12), 60%, 50%);
  --grey-color: hsl(0, 0%, 51%);
  --box-color: hsl(195, 6%, 24%);
  --white-text-color: hsl(0, 0%, 100%);
  --border-image-color: hsl(0, 0%, 0%);
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-color);
  border-bottom: 1rem solid var(--border-image-color);
  padding: 1rem 2rem;

}

h1.header {
  font-size: 2rem;
  font-family: "Press Start 2P";
  color: var(--white-text-color);
  text-shadow: .5rem .5rem 0rem #000000;

}

nav {
  text-align: right;
}

a {
  display: inline-flex;
  align-items: center;
  color: var(--white-text-color);
  font-size: 2rem;
  font-family: "fira Code", Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin-right: 3rem;

}

a:hover {
  filter: brightness(1.2);
  transform: scale(1.07);
  transition: .5s;
  color: var(--border-image-color);
}

a::before {
  content: "";
  background-color: var(--orange-color);
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}

#logo {

  width: auto;
  height: 6rem;
  background-size: contain;
  background-color: var(--orange-color);

}

.button {
  display: inline-block;
  background-color: var(--orange-color);
  padding: 1.8rem 2rem;
  box-shadow: .5rem .5rem 0rem #000000;
  margin-right: 0;
}

.button:hover {
  background-color: var(--orange-second-color);
  filter: brightness(1.2);
  transform: scale(1.07);
  transition: .5s;
}

.main-title {
  font-size: 4rem;
  font-family: "Press Start 2P", sans-serif;
  color: var(--orange-color);
  text-shadow: .4rem .4rem 0rem #000000;
  text-align: center;
  margin-bottom: 2.8rem;

}

.subtitle {
  font-size: 3rem;
  font-family: "Press Start 2P", sans-serif;
  color: var(--white-text-color);
  text-shadow: .4rem .4rem 0rem #000000;
}

.box {
  display: inline-block;
  background-color: var(--box-color);

  box-shadow: 1rem 1rem 0rem #000000;
  text-align: center;
  padding: 4.2rem 4.4rem;

}

section.banner {
  box-sizing: border-box;
  background-image: url(../assets/imag/pixel-normal.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 80.7rem;
  border-bottom: 1rem solid #000000;
  padding-top: 15rem;
  padding-left: 9rem;
}

.banner .wrapper {
  display: flex;
  flex-direction: column;
  width: 64rem;
}

.banner .box {
  margin-bottom: 4rem;
}

.banner .navigation {
  display: flex;
  justify-content: space-around;
}

section.skill {
  background-color: var(--orange-color);
  height: 74rem;
  padding-top: 5rem;
  padding-bottom: 10rem;
  border-bottom: 1rem solid var(--header-color);
}

section .main-title {
  margin-bottom: 6rem;

}

.main-title.-second {
  color: var(--white-text-color);
  text-shadow: none;
  text-align: center;

}

.skills {
  font-family: 'Press Start 2P';
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: var(--white-text-color);
  display: flex;
  align-items: center;
}

.skills .icon {
  margin-right: 2.5rem;
  width: 8rem;
}

.skills .title {
  margin-bottom: 1rem;
}

.progress-bar {
  box-sizing: border-box;
  border: .5rem solid #000000;
  height: 4rem;
}

.progress-bar::-webkit-progress-bar {
  background-color: var(--white-text-color);
}

.progress-bar::-webkit-progress-value {
  background-color: var(--header-color);
}

.skills .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.wrapper-skil {
  display: flex;
  flex-wrap: wrap;
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto;
}

.wrapper-skil .skills {
  width: 43rem;
  margin-bottom: 4rem;


}

.wrapper-skil .skills:nth-child(odd) {
  margin-right: 10rem;
}

.wrapper-skil .progress-bar {
  width: 32rem;
}


.projetos {
  height: 52rem;
  background-color: #000000;
}

.wrapper-projetos {
  display: flex;
  justify-content: space-around;

}

section.projetos {
  background-color: var(--border-image-color);
  height: 74rem;
  padding-top: 14rem;
  padding-bottom: 10rem;
  border-bottom: 1rem solid var(--orange-color);
}